#stacks-container {
    height: 95vh;
    width: 80vw;
    background-color: var(--secondary-color);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 1px;
    padding: 2px 6px;
}

.stack {
    background-color: var(--primary-color);
    width: 100%;
}

.stack.red {
    background-color: red;
}