main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Dashboard {
    width: 15vw;
    height: 95vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
}

#Dashboard div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.range-input {
    -webkit-appearance: none;
    border-radius: 10px;
}

.range-input::-webkit-slider-runnable-track {
    height: 15px;
    background: var(--primary-color);
    border: none;
    border-radius: 4px;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--light-color);
    margin-top: -2px;
}

.range-input:focus {
    outline: none;
}

.range-input:focus::-webkit-slider-runnable-track {
    background-image: var(--light-color);
}

.label-text {
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.btn {
    background-color: var(--light-color);
    border: none;
    width: 55%;
    padding: 10px;
    border-radius: 4px;
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out; 
}

.btn:hover {
    transform: scale(1.1);
}