:root {
  --primary-color: #032030;
  --secondary-color: #022b42;
  --accent-color: #003554;
  --text-color: #F5FEFD;
  --light-color: #006da4;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Titillium Web", sans-serif;
}


